<!DOCTYPE html>
<html>
{% extends 'main/header-footer.html' %}

{% block content %}
        <div class="container-fluid row">
            <div class="col-sm-12">
                <h1>Contact</h1>
            </div>
        <div class="container-fluid row">
            <div class="col-sm-11 col-sm-offset-1">
                <h2>Sean Ruffin</h2>
                <h2>Phone: (734)476-1433</h2>
                <h2>Email: seanruffin14@gmail.com</h2>
            </div>
        </div>  
        <div class="big-spacer"></div>
{% endblock %}


